
/**
 * CSS FOR BIO HOMEWORK- 
 **/
 
 #wholepage{
  widows: 960px;
  margin-left: auto;
  margin-right: auto;
}
 body {
  min-height: 100%;
  position: relative;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   background-color: #ffffff;
   background-image: url("../Images/spikes.png");
   border-color: #dddddd;
   font-family: Georgia, 'Times New Roman', Times, serif
 } 
 .container {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   padding: 0px;
 }
 
 
 /*My header is broken up into 2 parts- My name on the left and links on the right*/
.header {
  position: fixed;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0px 0px;
  border-color: #cccccc;
  top: 0;
}

img {
  float: left;
  margin: 30px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  background-color: #ffffff;
  
}
.name {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4aaaa5; 
  height: 90px;
  line-height: 90px;
  width: 300px;
  text-align:center;
}
.main {
  padding: 20px;
  margin: 0 0 90px;

}
.header a.logo {
  font-size: 20px;
  font-weight: bold;
  background-color: #4aaaa5;
}

/* Change color with mouse-over */
.header a:hover {
  background-color: red;
  color: black;
}

/* having trouble getting active link to change with the page*/
.header a.active {
  background-color: #ffffff;
  color: black;
}

.header-right {
  float: right;
}

  .header-left {
    float: none;
  }
}
 img {
    float: left;
    padding: 20px;
  }

  #ABOUT {
    text-decoration: underline;
    margin-top: 0;
    width: 100%;
    padding: 50px;
    color: #30948D;
    font-size: 15;
  }

    #PORTFOLIO {
      text-decoration: underline;
      margin-top: 0;
      width: 100%;
      padding: 50px;
      color: #30948D;
      font-size: 15;
}
    
    #CONTACT {
      text-decoration: underline;
      margin-top: 0;
    width: 100%;
    padding: 50px;
    color: #30948D;
    font-size: 15;
  }

  .row {
    float: left;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 35px;
}
 /*This is the Contact Page*/
input[type=text], select, textarea {
  width: 100%; 
  max-height: 0;
  padding: 25px; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 20px; 
  margin-bottom: 20px; 
 
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4aaaa5;
}

footer {
  position: fixed;
  width: 100%;
  padding: 10px;
  background: #666666;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  bottom: 0;
}  
@media (max-width: 980px) {
  .body {
    width: 100%;
    position: relative;
    }
    .header {
      position: fixed;
    }
    .p {
      position: relative;
    }
  }  
@media (max-width: 768px) {
  .body {
    width: 100%;
    position: relative;
  
    }
    .header {
      position: fixed;
    }
    .p {
      position: relative;
    }
  } 
@media (max-width: 640px) {
  
  .body {
  width: 100%;
  position: relative;

  }
  .header {
    position: fixed;
  }
  .p {
    position: relative;
  }
} 